[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
flake8 = "*"
mypy = "*"
ipykernel = "*"

[packages]
torch = "*"
transformers = "*"
numpy = "*"
Flask = "*"
sentence-transformers = "*"
umap-learn = "*"
pandas = "*"
scikit-learn = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
