<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../static/css/app.css" rel="stylesheet" />
  <link href="../static/css/bootstrap-suggest.css" rel="stylesheet" />
  <script src="../static/js/jquery-3.4.1.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/bootstrap-suggest.js"></script>
  <script src="../static/js/app.js"></script>
  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300|Open+Sans:300|Oxygen|Material+Icons"
    rel="stylesheet" />
</head>

<body>
  <!-- title -->
  <div class="page-title">
    BERT demo app
  </div>
  <!-- title end-->

  <!-- spinner -->
  <div class="overlay">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <!-- spinner end -->

  <!-- Vectorize Sentence -->
  <div id="vectorize_sentence" class="task">
    <div class="task-title-area">
      <div class="task-title-chip">Vectorize Sentence</div>
    </div>
    <div style="text-align: center;">
      <img src="../static/img/vectorize.png" alt="vectorize" style= "width: 100%;">
    </div>
    <div class="label-text">
      Put sentence here
      <textarea class="form-control" id="vec_sin_input" rows="1"></textarea>
    </div>
    <div style="margin: 10px 0; text-align: center;">
      <button id="vectorize_single_sentence" class="btn">↓Vectorize</button>
    </div>
    <textarea class="form-control txt_response" id="vec_sin_result_bert" rows="5" readonly></textarea>
    <div style="margin-top:15px; font-size:13px;">code↓</div>
    <pre class="code prettyprint lang-py" style="padding-top:15px; padding-left:15px; border: none;">
from sentence_transformers import SentenceTransformer
bert = SentenceTransformer("bert-base-nli-mean-tokens")
bert.encode(['<span id="vec_sin_code"></span>'])
# => 768-dimension vector 
    </pre>
  </div>
  <!-- Vectorize Sentence End-->

  <!-- Vectorize Multiple Sentences -->
  <div id="vectorize_sentences" class="task">
    <div class="task-title-area">
      <div class="task-title-chip">Vectorize Multiple Sentences</div>
    </div>
    <div style="text-align: center;">
      <img src="../static/img/text_clustering.png" alt="text_clustering" style="width: 100%;">
    </div>
    <div class="label-text">
      Put sentences here
      <textarea class="form-control" id="vec_input" rows="6"></textarea>
    </div>
    <div style="margin: 10px 0; text-align: center;">
      <button id="vectorize_sentences_btn" class="btn">↓Vectorize</button>
    </div>
    <div id="vec_plot"></div>
  </div>
  <!-- Vectorize Multiple Sentences End-->

  <!-- Sentiment Analysis -->
  <div id="sentiment_analysis" class="task">
    <div class="task-title-area">
      <div class="task-title-chip">Sentiment Analysis</div>
    </div>
    <div style="text-align: center;">
      <img src="../static/img/sentiment_analysis.png" alt="sentiment_analysis" style="width: 100%;">
    </div>
    <div class="label-text">
      Put sentences here
      <textarea class="form-control" id="sa_input" rows="1"></textarea>
    </div>
    <div style="margin: 10px 0; text-align: center;">
      <button id="sentiment_analysis_btn" class="btn">↓Sentiment</button>
    </div>
    <div class="sa-result">
      <span id="sa_result_emoji"></span>
      <span id="sa_result_score"></span>
    </div>
  </div>
  <!-- Sentiment Analysis End-->

  <!-- Next Word Prediction -->
  <div id="next_word_prediction" class="task">
    <div class="task-title-area">
      <div class="task-title-chip">Next Word Prediction</div>
    </div>
    <div style="text-align: center;">
      <img src="../static/img/nwp.png" alt="next_word_prediction" style="width: 100%;">
    </div>
    <div style="margin: 10px 0;">
      <div class="label-text">Put sentence here</div>
      <textarea class="form-control" id="nwp_input" rows="1"></textarea>
    </div>
    <div>↓prediction result</div>
    <textarea class="form-control txt_response" id="nwp_result_bert" rows="5" readonly></textarea>
  </div>
  <!-- Next Word Prediction End-->



</body>

</html>
